#contatc {
    .info-container {
        h2 {
            margin-top: 3rem;
            margin-bottom: 0;
            z-index: 1;
            text-transform: uppercase;
            font-size: $h6_font-size;
            color: $accent;
        }

        h3 {
            margin-bottom: 2rem;
            font-size: $h1_font-size;
        }

        p {
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 3rem;
        }
    }

    form {
        input.form-btn {
            @include customButton($border: 1px solid $primary,
                $borderRadius: 20px,
                $textColor: $primary,
                $padding: 5px 10px,
                $backColor: rgba($secondary, 0.1),
                $hoverBackColor: $primary,
                $hoverTextColor: $white,
                $hoverBorder: 1px solid transparent);
        }
    }
}