#contatc {
    background-color: rgba($secondary, 0.1);

    .info-container {
        h2 {
            margin-top: 3rem;
            margin-bottom: 0;
            z-index: 1;
            text-transform: uppercase;
            font-size: $h4_font-size;
            color: $accent;
        }

        h3 {
            margin-bottom: 2rem;
            font-size: $h2_font-size;
        }

        p {
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 3rem;
        }
    }

    form {
        .form-btn {
            @include customButton($border: 1px solid $primary,
                $borderRadius: 20px,
                $textColor: $primary,
                $padding: 5px 10px,
                $backColor: rgba($secondary, 0.1),
                $hoverBackColor: $primary,
                $hoverTextColor: $white,
                $hoverBorder: 1px solid transparent);
        }
    }

    .contact-information {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: 1024px) {
            padding-left: 6rem;
        }

        .contact-card {
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            background-color: $white;
            @include boxShadowMixin($offX: map-get($pop_shadow, 'offX'),
                $offY: map-get($pop_shadow, 'offY'),
                $blur: map-get($pop_shadow, 'blur'),
                $spread: map-get($pop_shadow, 'spread'),
                $color: map-get($pop_shadow, 'color'),
                $alpha: map-get($pop_shadow, 'alpha'));
            padding: 6rem 3rem;

            &:hover {
                @include boxShadowMixin($offX: map-get($hover_shadow, 'offX'),
                $offY: map-get($hover_shadow, 'offY'),
                $blur: map-get($hover_shadow, 'blur'),
                $spread: map-get($hover_shadow, 'spread'),
                $color: map-get($hover_shadow, 'color'),
                $alpha: map-get($hover_shadow, 'alpha'));
            }
            

            p {
                margin-bottom: 2rem;
                color: $blackTitle;

                &:hover {
                    span a {
                        color: $accent;
                    }
                }

                i {
                    font-size: 2rem;
                    margin-right: 1rem;
                }

                span {
                    &:before {
                        content: ': ';
                    }

                    margin-left: 1rem;

                    a {
                        color: $blackTitle;
                        transition: all 0.3s ease-in-out;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -ms-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}