.freelance {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: rgba($blackTitle, 0.1);

    .info-container {
        h2 {
            margin-top: 3rem;
            margin-bottom: 0;
            z-index: 1;
            text-transform: uppercase;
            font-size: $h6_font-size;
            color: $accent;
        }

        h3 {
            margin-bottom: 2rem;
            font-size: $h1_font-size;
        }

        p {
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 3rem;
        }

        .btn {
            @include customButton($border: 1px solid $primary,
                $borderRadius: 20px,
                $textColor: $primary,
                $padding: 5px 10px,
                $backColor: $white,
                $hoverBackColor: $primary,
                $hoverTextColor: $white,
                $hoverBorder: 1px solid transparent);
        }
    }
}