.full-section {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.second {
        flex-direction: row;
    }
}

.first {
    position: relative;
    // background-image: url('../../images/lanscape.svg');
    background-image: url('../../images/back.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .back-container {
        width: 100%;
        height: 100%;
        position: absolute;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba($primary, 0.15);
        }

        .hills {
            position: absolute;
            left: 50%;
            bottom: 0;
            z-index: 1;
            width: 100%;
            max-width: 800px;
            height: auto;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);

            .hill-1 {
                fill: #9ee493;
            }

            .hill-2 {
                fill: #daf7dc;
            }
        }

        .trees {
            position: absolute;
            right: 20%;
            bottom: 5%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 100%;
            max-width: 150px;
            height: auto;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }

        .cloud1 {
            position: absolute;
            right: -100%;
            top: 20%;
            z-index: 2;
            width: 100%;
            max-width: 250px;
            height: auto;
            animation: cloud1 20s;
            -moz-animation: cloud1 20s;
            -webkit-animation: cloud1 20s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            .cls-1 {
                fill: #87bfff;
            }
        }

        .cloud2 {
            position: absolute;
            right: -100%;
            top: 20%;
            z-index: 2;
            width: 100%;
            max-width: 250px;
            height: auto;
            animation: cloud1 25s;
            -moz-animation: cloud1 25s;
            -webkit-animation: cloud1 25s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            .cls-2 {
                fill: #add7f6;
            }
        }
    }


    .main-section {
        z-index: 100;
        color: $white;

        .badge {
            font-weight: 600;
            font-size: 1rem;
            padding: 8px 10px;
        }

        p.typer {
            margin-top: 1rem;
            font-size: 2.5rem;
            font-weight: 300;

            span {
                font-weight: 400;
            }
        }

        p.description {
            max-width: 650px;
            margin-bottom: 2rem;
        }

        .scroll-down {
            margin: 0 auto;
            position: relative;
            width: 25px;
            height: 40px;
            border: 2px solid $white;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;

            &:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 10px;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                height: 8px;
                border-left: 2.5px solid $white;
                animation: mouseAnimate 1s;
                -webkit-animation: mouseAnimate 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            &:hover {
                border-color: $accent;

                &:after {
                    border-color: $accent;
                }
            }
        }
    }
}

.second {
    // @include linearGradientBackground($startColor: $secondary,
    //     $endColor: $secondary,
    //     $startOpacity: 0.1,
    //     $endOpacity: 0.3,
    //     $startAt: 0%,
    //     $endAt: 100%);


    .avatar {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        background-color: rgba($white, 0.5);
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;

        svg {
            width: 100%;
            max-width: 95px;
            height: auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .info-container {
        h2 {
            margin-top: 3rem;
            margin-bottom: 1rem;
            font-weight: 400;
            z-index: 1;
            text-transform: uppercase;
            font-size: $h3_font-size;
            position: relative;

            &::first-letter {
                color: $white;
            }

            &:before {
                content: '';
                width: $h2_font-size * 1.3;
                height: $h2_font-size * 1.3;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -ms-border-radius: 100%;
                -o-border-radius: 100%;
                background-color: rgba($accent, 0.9);
                position: absolute;
                z-index: -1;
                left: -0.5rem;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
        }

        h3 {
            margin-bottom: 2rem;
            font-size: $h2_font-size;
        }

        p {
            margin-bottom: 3rem;
        }

        .info {
            p {
                margin: 0;
                margin-bottom: 0.5rem;
                max-width: 200px;

                span {
                    float: right;
                    color: $accent;
                }

                a {
                    transition: all 0.25s ease;
                    color: $accent;
                    -webkit-transition: all 0.25s ease;
                    -moz-transition: all 0.25s ease;
                    -ms-transition: all 0.25s ease;
                    -o-transition: all 0.25s ease;

                    &:hover {
                        color: rgba($accent, 0.7);
                        text-decoration: none;
                    }
                }
            }
        }

        a.btn {
            @include customButton($border: 1px solid $accent,
                $borderRadius: 10px,
                $textColor: $accent,
                $padding: 5px 15px,
                $backColor: rgba($accent, 0.2),
                $hoverBackColor: $accent,
                $hoverTextColor: $white,
                $hoverBorder: 1px solid $accent);
            font-weight: 600;
            margin-top: 5rem;
        }
    }
}