.full-section {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first {
    position: relative;
    // background-image: url('../../images/lanscape.svg');
    background-image: url('../../images/back.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .back-container {
        width: 100%;
        height: 100%;
        position: absolute;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba($primary, 0.15);
        }

        .hills {
            position: absolute;
            left: 50%;
            bottom: 0;
            z-index: 1;
            width: 100%;
            max-width: 800px;
            height: auto;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);

            .hill-1 {
                fill: #9ee493;
            }

            .hill-2 {
                fill: #daf7dc;
            }
        }

        .trees {
            position: absolute;
            right: 20%;
            bottom: 5%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 100%;
            max-width: 150px;
            height: auto;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }

        .cloud1 {
            position: absolute;
            right: -100%;
            top: 20%;
            z-index: 2;
            width: 100%;
            max-width: 250px;
            height: auto;
            animation: cloud1 20s;
            -moz-animation: cloud1 20s;
            -webkit-animation: cloud1 20s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            .cls-1 {
                fill: #87bfff;
            }
        }

        .cloud2 {
            position: absolute;
            right: -100%;
            top: 20%;
            z-index: 2;
            width: 100%;
            max-width: 250px;
            height: auto;
            animation: cloud1 25s;
            -moz-animation: cloud1 25s;
            -webkit-animation: cloud1 25s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            .cls-2 {
                fill: #add7f6;
            }
        }
    }


    .main-section {
        z-index: 100;

        .badge {
            font-weight: 600;
            font-size: 1rem;
            padding: 8px 10px;
        }

        p.typer {
            margin-top: 1rem;
            font-size: 2.5rem;
            font-weight: 300;

            span {
                font-weight: 400;
            }
        }

        p.description {
            max-width: 650px;
        }

        .scroll-down {
            margin: 0 auto;
            position: relative;
            width: 25px;
            height: 40px;
            border: 2px solid $white;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 10px;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                height: 8px;
                border-left: 2.5px solid $white;
                animation: mouseAnimate 1s;
                -webkit-animation: mouseAnimate 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
    }
}

.second {
    .avatar {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        background-color: rgba($white, 0.5);
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;

        svg {
            width: 100%;
            max-width: 95px;
            height: auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@keyframes cloud1 {
    0% {
        right: -100%
    }

    100% {
        right: 100%
    }
}

@keyframes cloud1 {
    from {
        right: -100%;
    }

    to {
        right: 100%;
    }
}

@-moz-keyframes cloud1 {
    from {
        right: -100%;
    }

    to {
        right: 100%;
    }
}

@-webkit-keyframes cloud1 {
    from {
        right: -100%;
    }

    to {
        right: 100%;
    }
}

@keyframes mouseAnimate {
    0% {
        top: 10px
    }

    100% {
        top: 25px;
    }
}

@keyframes mouseAnimate {
    from {
        top: 10px;
    }

    to {
        top: 25px;
    }
}

@-moz-keyframes mouseAnimate {
    from {
        top: 10px;
    }

    to {
        top: 25px;
    }
}

@-webkit-keyframes mouseAnimate {
    from {
        top: 10px;
    }

    to {
        top: 25px;
    }
}