:root {
  font-size: $root_size;

  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }
}

// Font family weights 300, 400, 600
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: $body_fz;
  color: $white;
  overflow-x: hidden;

  &.overflow-hidden {
    overflow: hidden;
  }
}

table {
  overflow: auto;
  // display: block;

  th {
    min-width: 150px;
  }

  @media (max-width: 767px) {
    display: block;
  }
}

h1,
.h1 {
  font-size: $h1_font-size;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h2,
.h2 {
  font-size: $h2_font-size;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h3,
.h3 {
  font-size: $h3_font-size;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h4,
.h4 {
  font-size: $h4_font-size;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h5,
.h5 {
  font-size: $h5_font-size;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h6,
.h6 {
  font-size: $h6_font-size;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

input[type=number] {
  -moz-appearance: textfield;
}

input,
label,
input,
textarea,
button,
a {
  font-size: $general_fz;
}

input,
select,
textarea,
button,
.btn {
  outline: none !important;
  box-shadow: none !important;
  caret-color: $secondary;

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

select,
select.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("/assets/images/dropdown.svg") no-repeat right #ddd;
  background-position-x: 97%;
  background-size: 15px auto;
}

a,
button {
  cursor: pointer;

  &:active,
  &:focus,
  &:visited {
    outline: none !important;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

button {
  @include customButton();
}

// Scroll to top button
.scroll-top {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 1px solid $accent;
  background-color: rgba($accent, 0.3);
  color: $accent;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba($accent, 1);
    color: $white;
  }

  &.show {
    opacity: 1;
  }
}

// Reset navbar styles
#main-nav {
  transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -ms-transitionbackground-color: 0.25s ease-in-out;
  -o-transitiobackground-color: 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;

  &.bg-light {
    background-color: rgba($primary, 0.2) !important;
  }

  button {
    &:hover {
      background-color: transparent;
    }
  }

  .navbar-brand {
    font-size: 1.5rem;
    position: relative;

    &::after {
      content: '.';
      position: absolute;
      right: -0.55rem;
      bottom: -0.5rem;
      color: $accent;
      font-size: 3rem;
    }
  }

  @media screen and (min-width: 997px) {
    .language-item {
      margin-left: auto;
    }
  }
}

// CSS transitions
.show-enter {
  opacity: 0;
}

.show-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.show-exit {
  opacity: 1;
}

.show-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}