.selector-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    .selected-languague {
        padding: 8px;
        background-color: rgba($secondary, 0.1);
        z-index: 100;
        cursor: pointer;

        .svgIcon {
            width: 30px;
            height: auto;
        }
    }

    .options-language {
        max-width: 200px;
        width: 100vw;
        background-color: $secondary;
        padding: 10px 0;
        position: absolute;
        z-index: -20;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transition: all 0.5s ease-in-out;

        &.show {
            opacity: 1;
            transform: translateY(100%);
        }

        .option {
            padding: 10px;
            cursor: pointer;
            transition: all 0.25s ease-in-out;
            color: $white;

            &.active {
                background-color: rgba($primary, 0.6);
            }

            &:hover {
                background-color: rgba($primary, 0.45);
            }

            .svgIcon {
                width: 30px;
                height: auto;
                display: inline-block;
            }
        }
    }

    @media screen and (max-width: 997px) {
        justify-content: center;
        align-items: center;

        .options-language {
            transform: translatex(-50%);
            -webkit-transform: translatex(-50%);
            -moz-transform: translatex(-50%);
            -ms-transform: translatex(-50%);
            -o-transform: translatex(-50%);
            left: 50%;
            right: unset;

            &.show {
                transform: translate(-50%, 100%);
                -webkit-transform: translate(-50%, 100%);
                -moz-transform: translate(-50%, 100%);
                -ms-transform: translate(-50%, 100%);
                -o-transform: translate(-50%, 100%);
            }
        }
    }
}